<div class="container mt-5">
    <h2>Checkout</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>TotalPrice</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart">
                <td>{{ item?.medicine_name }}</td>
                <td>{{ item?.manufacturer_name }}</td>
                <td>{{ item?.mrp }}</td>
                <td>{{ item?.quantity }}</td>
                <td>{{ item?.quantity * item?.mrp }}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="placeOrder()">Place order</button>

</div>
